$columWidth: 6.5%;
$gutterWidth: 2%;

//mixin 설정
//col mixin
@mixin col($count) {
  width: ($columWidth * $count) + ($gutterWidth * ($count - 1));
}


//mixin 적용
//col mixin
.col_1{ @include col(1);}
.col_2{ @include col(2);}
.col_3{ @include col(3);}
.col_4{ @include col(4);}
.col_5{ @include col(5);}
.col_6{ @include col(6);}
.col_7{ @include col(7);}
.col_8{ @include col(8);}
.col_9{ @include col(9);}
.col_10{ @include col(10);}
.col_11{ @include col(11);}
.col_12{ @include col(12);}
