//var scss


//site matarial size
$siteWidth: 1152px;
$logoWidth: 105px;

//fontmatarial
$fontSizeDescription:12px;
$fontSizeSmall: 14px;
$fontSizeTitle:24px;
$fontSizePrimary: 16px;

//fontColor
$fontColorPrimary: #222222;
$fontColorSube: #818080;
$fontColorsube2:#434242;
$site_langColor: #6ea7d8;
$langBorderColor:#afcfea;

//border
$borderColor: #c8c8c8;

//color
$pointColor: #2292e9;
$btnLangColor:#1E6CB3;
$backgroundColor:#efefef;
$btngroundColor:#f1f1f1;
